In [1]:
import pickle
import sklearn
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.tree import DecisionTreeRegressor

In [2]:
df = pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
# find unique values
df.nunique()
df = df.drop_duplicates()

In [4]:
df.duplicated().any()

np.False_

### choose one. either label encoding ama mapping

In [5]:
### Mapping
# df["sex"] = df["sex"].map({"male": 1, "female": 0})
# df["smoker"] = df["smoker"].map({"yes": 1, "no": 0})
# df["region"] = df["region"].map({"southwest": 0, "southeast": 1, "northwest": 2, "northeast": 3})
# df

In [6]:
### Label Encoding
le = LabelEncoder()

df["sex"] = le.fit_transform(df["sex"])
df["smoker"] = le.fit_transform(df["smoker"])
df["region"] = le.fit_transform(df["region"])
df

/tmp/ipykernel_114633/2453006936.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["sex"] = le.fit_transform(df["sex"])
/tmp/ipykernel_114633/2453006936.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["smoker"] = le.fit_transform(df["smoker"])
/tmp/ipykernel_114633/2453006936.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["region"] = le.fit_transform(df["region"])

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1337 rows x 7 columns]

### Model Creation

In [7]:
X = df.iloc[:, [0, 1, 2, 3, 4, 5]].values
y = df.iloc[:, 6].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
X_test

array([[-1.50751362, -0.99006927,  1.47226072, -0.8943336 , -0.50093545,
         0.42467656],
       [ 0.54714542, -0.99006927, -0.23696443, -0.07370881, -0.50093545,
         0.42467656],
       [ 0.68884605,  1.01003034,  0.08688875, -0.07370881, -0.50093545,
        -1.38222752],
       ...,
       [ 0.83054667,  1.01003034, -0.12901337, -0.07370881, -0.50093545,
         0.42467656],
       [ 0.97224729,  1.01003034, -1.6223364 , -0.8943336 ,  1.99626517,
         0.42467656],
       [ 1.75160073,  1.01003034,  1.20565431, -0.8943336 , -0.50093545,
        -1.38222752]])

In [9]:
reg = LinearRegression()
model = reg.fit(X_train, y_train)

In [10]:
y_pred = model.predict(X_test)

In [11]:
print(f"Mean Squared Error: {mean_squared_error(y_test, y_pred)}")
print(f"Mean Absolute Error: {mean_absolute_error(y_test, y_pred)}")
print(f"R² Score: {r2_score(y_test, y_pred)}")

Mean Squared Error: 40864653.71960541
Mean Absolute Error: 4376.907790239395
R² Score: 0.7438474494767136

In [12]:
with open("model.pkl", "wb") as f:
    pickle.dump(model, f)